<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>

<div class="col mt-4">
<a th:href="@{/registrarDir}">nuevo</a>
<table class="table">
<tr>
<th>ID DIRECCION</th>
<th>PAIS</th>
<th>DEPARTAMENTO</th>
<th>CIUDAD</th>
<th>DIRECCION</th>
<th>ESTADO</th>
<th>EDITAR</th>
<th>ELIMINAR</th>
</tr>
<tr th:each="info:${direcciones}">
<td th:text="${info.id_direccion}"></td>
<td th:text="${info.pais}"></td>
<td th:text="${info.departamento}"></td>
<td th:text="${info.ciudad}"></td>
<td th:text="${info.direccion}"></td>
<td th:text="${info.estado}"></td>
<td><a class="btn btn-danger" th:href="@{/actualizar/direccion/}+${info.id_direccion}">EDITAR</a></td>
<td><a class="btn btn-primary" th:onclick="eliminarConfirma('inter',[[${info.id_direccion}]])">ELIMINAR</a></td>  
</tr>

</table>

</div>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="loader.js"></script>
</body>
</html>